.squares {
  position: relative; }

.square {
  border: 2px solid black;
  color: white;
  font: 20px bold;
  height: 100px;
  line-height: 100px;
  position: absolute;
  text-align: center;
  width: 100px; }
  .square.s1 {
    background-color: #0000e6;
    left: 0;
    top: 525px; }
  .square.s2 {
    background-color: #0000cc;
    left: 75px;
    top: 450px;
    z-index: 3; }
  .square.s3 {
    background-color: #0000b3;
    left: 150px;
    top: 375px;
    z-index: 2; }
  .square.s4 {
    background-color: #000099;
    left: 225px;
    top: 300px; }
  .square.s5 {
    background-color: navy;
    left: 300px;
    top: 225px;
    z-index: 2; }
  .square.s6 {
    background-color: #000066;
    left: 375px;
    top: 150px;
    z-index: 3; }
  .square.s7 {
    background-color: #00004d;
    left: 450px;
    top: 75px; }
